*.zip
firmware/.metadata/*
*.d
*.su
*.o
*.resources
hardware/SB-Spoko Bezpieczniki-backups/*
hardware/gerber/grb v3/*
*.step
*.wrl
hardware/bom/*
hardware/fp-info-cache/*
firmware/Smart fuses/Debug/*
*.xml
*.bin
*.elf
*.map
*.list
*.mk